<section>
  <div
    class="wrapper-slider"
    #wrapperSlider
    (mousedown)="onDown($event)"
    (mousemove)="onMove($event)"
    (mouseleave)="onEnd()"
    (mouseup)="onEnd()"
    (touchstart)="onTouchDown($event)"
    (touchmove)="onTouchMove($event)"
    (touchend)="onEnd()"
  >
    <ul class="slider" #slider>
      @for(carrosel of carrosseis ;track $index) {
      <li #carouselImage [ngClass]="{'active': $index === index.active}" ><img [src]="carrosel" alt=""></li>
      }
    </ul>
  </div>
  @if(arrow) {
    <div class="arrow-nav">
      <button (click)="activePrevSlide()">Voltar</button>
      <button (click)="activeNextSlide()">Avançar</button>
    </div>
  }
  @if(paginator) {
    <div class="paginator">
      @for(carrosel of carrosseis ;track $index) {
        <div class="dot" [ngClass]="{'dotActive': $index === index.active}" (click)="changeSlider($index)"></div>
      }
    </div>
  }
</section>
